/SwiftUIRedux.xcodeproj/project.xcworkspace/xcuserdata/bruno.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
/SampleApp.xcodeproj/xcuserdata/bruno.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/SampleApp.xcodeproj/project.xcworkspace/xcuserdata/bruno.xcuserdatad/UserInterfaceState.xcuserstate
